option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "random_walker.settings"
    "PYTHONPATH": "/opt/python/current/app/random_walker:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: random_walker/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
